.main1 {
  width: 990px;
  margin: 0 auto;
  height: 100%;
}

.gwc_md {
  height: 40px;
  width: 100%;
  background: #ebebeb;
  color: #737373;
}

.gwc_md ul {
  margin-left: 40px;
}

.gwc_md ul li {
  float: left;
  line-height: 40px;
}

.gwc_md .mc {
  margin-right: 385px;
}

.gwc_md .scj {
  margin-right: 110px;
}

.gwc_md .dgj {
  margin-right: 100px;
}

.gwc_md .num {
  margin-right: 100px;
}

.gwc_md .cz {
  margin-right: 100px;
}

.gwu_bd {
  border: 1px solid #ccc;
  color: #737373;
}

.gwu_bd a {
  color: #737373;
  margin-right: 100px;
}

.gwu_bd a:hover {
  color: red;
  text-decoration: underline;
}

.gwu_bd .gwc_img li {
  border-bottom: 1px  dashed #ccc;
}

.gwu_bd .gwc_img li:last-child {
  border-bottom: none;
}

.gwu_bd .gwc_img li img {
  vertical-align: middle;
  margin: 10px 20px;
  width: 50px;
  height: 56px;
}

.gwu_bd .gwc_img li i {
  color: #ff6a00;
  margin-right: 100px;
}

.gwu_bd .gwc_img li span {
  color: #ff6a00;
  margin-right: 70px;
}

.gwu_bd .gwc_img li .btn1 {
  width: 26px;
  height: 10px;
  padding: 6px;
}

.gwu_bd .gwc_img li .jian, .gwu_bd .gwc_img li .jia {
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
}

.gwu_bd .gwc_img li .yichu, .gwu_bd .gwc_img li .shanchu {
  margin-left: 18px;
  border: none;
  background: #fff;
  outline: none;
  color: #737373;
}

.gwu_bd .gwc_img li .yichu:hover, .gwu_bd .gwc_img li .shanchu:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

#gwc_footer {
  border: 1px solid #ccc;
  height: 52px;
  width: 100%;
  margin-top: 30px;
  line-height: 52px;
  color: #737373;
}

#gwc_footer #gwc_jixu {
  float: left;
  height: 50px;
  width: 830px;
  padding: 1px 20px;
}

#gwc_footer #gwc_jixu a {
  color: #737373;
}

#gwc_footer #gwc_jixu a:hover {
  color: red;
  text-decoration: underline;
}

#gwc_footer #gwc_jixu span {
  float: right;
}

#gwc_footer #gwc_jixu span i, #gwc_footer #gwc_jixu span em {
  color: #ff6a00;
  font-size: 16px;
}

#gwc_footer button {
  color: #fff;
  background: #ff6a00;
  border: none;
  outline: none;
  padding: 18px 40px;
  cursor: pointer;
}
