@charset "UTF-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font: 12px/20px "微软雅黑","Arial Narrow",HELVETICA;
  background: #fff;
  width: 100%;
  height: 100%;
}

img, fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, b, strong {
  font-weight: normal;
}

em, i {
  font-style: normal;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}

.main {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

#top_img img {
  display: block;
  width: 100%;
  height: 80px;
}

#nav_er {
  height: 35px;
  width: 100%;
  background: #e6e6e6;
}

#nav_er a:hover {
  color: red;
}

#nav_er li {
  float: left;
  margin-top: 8px;
}

#nav_er img {
  float: left;
  padding-left: 10px;
}

#nav_er #li2 .img1 {
  float: left;
  margin: 0;
  padding: 10px;
}

#box {
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  position: absolute;
  z-index: 10;
  background: #fff;
}

#box p {
  text-align: center;
}

#li3 .img2 {
  float: left;
  margin: 0;
  padding: 10px;
}

#box1 {
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  position: absolute;
  z-index: 10;
  background: #fff;
}

#box1 p {
  text-align: center;
}

#ul_right {
  float: right;
}

#ul_right li {
  padding: 0 8px;
  border-left: 1px solid #ccc;
}

#ul_right li:nth-child(1) {
  border-left: none;
}

#ul_right li:nth-child(2) {
  border-left: none;
}

#erjidaohan {
  display: none;
  width: 78px;
  position: absolute;
}

#erjidaohan a {
  display: block;
  color: #737373;
}

#erjidaohan a:hover {
  text-decoration: underline;
}

#gouwuche {
  display: none;
  margin-top: 7px;
  right: 250px;
  position: absolute;
  width: 320px;
  height: 126px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 126px;
  background: #fff;
}

#aside {
  width: 100%;
  height: 100px;
}

#sosuo {
  float: left;
  width: 320px;
  height: 68px;
  margin-top: 30px;
  margin-left: 100px;
}

#sosuo #txt {
  border: 1px solid #ff6a00;
  padding: 3px;
  width: 236px;
  height: 19px;
  float: left;
}

#sosuo #list_s {
  width: 244px;
  background: #ccc;
  position: absolute;
  z-index: 40;
}

#sosuo button {
  background: #ff6a00;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px 23px;
  display: inline-block;
  outline: none;
}

#sosuo_bottom {
  margin-top: 4px;
}

#sosuo_bottom li {
  border-left: 1px solid #ccc;
  float: left;
  padding: 0 4px;
}

#sosuo_bottom li:first-child {
  border-left: none;
}

#sosuo_bottom a {
  color: #999999;
}

#sosuo_bottom a:hover {
  color: red;
  text-decoration: underline;
}

#service {
  float: right;
  width: 250px;
  margin-top: 30px;
}

#service p {
  float: left;
  border-left: 1px solid #ccc;
  padding: 0 4px;
}

#service p:first-child {
  border-left: none;
}

#service p #dianhua {
  float: left;
}

#service p #jieting {
  float: left;
}

#service p a:hover {
  color: red;
  text-decoration: underline;
}

#banner_top {
  height: 40px;
  border-bottom: 2px solid red;
}

#banner_top h3 {
  width: 200px;
  height: 100%;
  background: #ff6a00;
  padding: 0 15px;
  float: left;
  line-height: 40px;
}

#banner_top h3 a {
  color: #fff;
}

.nav {
  float: left;
  margin-left: 20px;
}

.nav li {
  float: left;
  padding: 20px 24px 0;
  font-size: 16px;
}

.nav li:last-child {
  color: red;
}

.nav li a:hover {
  color: red;
}

#banner {
  width: 100%;
  height: 440px;
  position: relative;
  overflow: hidden;
}

#banner ul {
  position: relative;
}

#banner ul li {
  float: left;
}

#banner ul li img {
  width: 1519px;
  height: 440px;
  display: block;
}

#btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

#btn > a {
  float: left;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

#btn > .active {
  background: #c33;
}

#banner_center {
  width: 200px;
  height: 427px;
  position: absolute;
  z-index: 9;
  padding: 10px 15px 3px;
  background: #fff;
}

#banner_center a {
  color: #737373;
}

#banner_center a:hover {
  color: red;
  text-decoration: underline;
}

#banner_center h3 {
  color: red;
}

#banner_center #xianhua_list {
  height: 70px;
  width: 180px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
}

#banner_center #xianhua_list li {
  padding: 2px 6px;
}

#banner_center #banner_er {
  height: 42px;
  width: 200px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
}

#banner_center #banner_er li {
  padding: 2px 6px;
}

#banner_center #banner_san {
  height: 42px;
  width: 200px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
}

#banner_center #banner_san li {
  padding: 2px 6px;
}

#banner_center #banner_si {
  height: 22px;
  width: 200px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
}

#banner_center #banner_si li {
  padding: 2px 6px;
}

#banner_center #banner_wu {
  height: 20px;
  width: 200px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
}

#banner_center #banner_wu li {
  padding: 2px 6px;
}

#banner_center .h4 .nav_r {
  float: right;
  font-size: 20px;
}

#banner_center .h4 a {
  display: block;
  padding-top: 10px;
  color: red;
  font-size: 14px;
}

#banner_center .h4 a:hover {
  text-decoration: none;
}

#banner_center #flooter {
  padding-top: 10px;
  height: 31px;
}

#banner_center #flooter .nav_r {
  color: red;
  float: right;
  font-size: 20px;
}

#banner_center #flooter a {
  color: red;
  font-size: 16px;
}

#banner_center h4 {
  position: relative;
  color: red;
}

#banner_right {
  top: 10px;
  right: 10%;
  position: absolute;
  width: 210px;
  height: 422px;
  z-index: 99;
}

#banner_right img {
  display: block;
  border: 1px solid #ccc;
  box-shadow: 0 3px red;
}

#iconfont {
  width: 100%;
  height: 40px;
  margin-top: 30px;
}

#iconfont li {
  float: left;
  width: 25%;
}

#iconfont li h4 {
  margin-top: 2px;
  font-size: 16px;
}

#iconfont li p {
  font-size: 12px;
  color: #999999;
  margin-top: 4px;
}

#iconfont li img {
  float: left;
  margin-right: 10px;
}

#time-limit {
  height: 198px;
  margin-top: 40px;
}

#time-limit ul li {
  border: 1px solid #ccc;
  float: left;
  width: 238px;
  height: 198px;
}

#time-limit ul li:last-child {
  position: relative;
  overflow: hidden;
}

#time-limit ul li img {
  width: 238px;
  height: 198px;
}

.title1 {
  margin-left: 10px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.title1 a {
  margin-right: 20px;
  font-size: 18px;
  color: #737373;
}

.title1 a:hover {
  color: red;
  text-decoration: underline;
}

.title1 a span {
  color: #737373;
}

.title1 .more {
  font-size: 12px;
  float: right;
}

.bd_left {
  float: left;
  width: 243px;
  height: 630px;
  background: #ffc0bb;
}

.bd_left .bd_top img {
  display: block;
}

.bd_left .bd_bootom {
  display: block;
  color: red;
  margin-left: 25px;
  margin-top: 60px;
  width: 194px;
  color: #fff;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  border: 3px solid #fff;
}

.bd_left .bd_bootom:hover {
  color: red;
  text-decoration: underline;
}

.bd_right {
  margin-bottom: 20px;
}

.bd_right .bd_img li {
  cursor: pointer;
  float: left;
  width: 237px;
  height: 313px;
  border: 1px solid #ccc;
  text-align: center;
}

.bd_right .bd_img li:hover a {
  color: red;
}

.bd_right .bd_img li img {
  margin-top: 10px;
  margin-left: 5px;
  width: 217px;
  height: 240px;
}

.bd_right .bd_img li .price {
  font-weight: 600;
}

.box {
  float: left;
  margin-top: 20px;
}

.bd_left .wenzi_top h4 {
  color: #ff6a00;
  font-size: 16px;
  padding: 20px 0 20px 2px;
  background: #fff;
  border-left: 1px solid #ccc;
}

.bd_left .wenzi_top ul {
  float: left;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: 25px;
}

.bd_left .wenzi_top ul #weiyi {
  padding-bottom: 29px;
}

.bd_left .wenzi_top ul li {
  float: left;
  padding: 3px 3px;
}

.bd_left .wenzi_top ul li a:hover {
  color: red;
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  float: left;
  height: 350px;
  width: 100%;
}

footer .hd {
  float: left;
  margin-left: 10px;
  height: 290px;
  margin-top: 30px;
  background: #f2f2f2;
}

footer .hd p {
  background: #737373;
  padding: 5px 20px;
  color: #fff;
  font-size: 16px;
}

footer .hd p img {
  float: right;
}

footer .hd dd {
  width: 90px;
  float: left;
}

footer .hd dd a {
  font-size: 12px;
}

footer .hd dd img {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
}

footer .hd dt {
  width: 430px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

footer .hd dt:last-child {
  border: none;
}

footer .hd dt span {
  float: right;
}

footer .hd dt a:hover {
  color: red;
  text-decoration: underline;
}

footer .hd ul {
  float: left;
  border-right: 1px solid #ccc;
  width: 238px;
}

footer .hd ul:last-child {
  border-right: none;
}

footer .hd ul li {
  margin-left: 20px;
  padding: 8px 0;
  float: left;
  list-style: disc;
}

footer .hd ul li a:hover {
  color: red;
  text-decoration: underline;
}

#app_wx {
  float: left;
  width: 100%;
  height: 160px;
  border: 1px  solid #ccc;
}

#app_wx img {
  float: left;
  margin-top: 10px;
}

#app_wx .app_left {
  float: left;
  width: 320px;
  height: 125px;
  margin: 20px;
}

#app_wx .app_left a img {
  padding-top: 20px;
  padding-right: 10px;
}

#app_wx .app_left h5 {
  color: #ff6a00;
}

#app_wx .app_left img {
  float: left;
  padding-right: 30px;
}

.server {
  margin-top: 30px;
  float: left;
  width: 100%;
  height: 84px;
  background: #f60;
}

.server img {
  position: relative;
  top: 5px;
}

.server li {
  display: block;
  float: left;
  margin-top: 25px;
  padding: 2px 20px;
  border-left: 1px solid #ccc;
}

.server li:first-child {
  border-left: none;
}

.server li a {
  color: #fff;
  font-size: 16px;
}

.footer_nav {
  float: left;
  margin: 30px 52px;
}

.footer_nav li {
  float: left;
  padding: 0 32px;
  border-left: 1px solid #ccc;
}

.footer_nav li a:hover {
  color: red;
  text-decoration: underline;
}

.footer_nav li:first-child {
  border-left: none;
}

.footer_help {
  float: left;
  width: 100%;
  height: 150px;
  background: #f2f2f2;
  padding: 30px 0;
}

.footer_help .mod_d {
  margin-left: 30px;
  float: left;
}

.footer_help .mod_d p {
  margin-left: 10px;
}

.footer_help a:hover {
  color: red;
  text-decoration: underline;
}

.footer_help h4 {
  font-size: 16px;
  float: left;
}

.footer_help .footer_help1 {
  float: left;
  height: 150px;
  width: 189px;
  margin-top: 10px;
  padding-right: 30px;
  margin-left: 30px;
  border-right: 1px solid #ccc;
}

.footer_help .footer_help1 li {
  float: left;
  padding: 0 20px;
}

.footer_help .footer_help1 li a:hover {
  color: red;
  text-decoration: underline;
}

.footer_img {
  width: 100%;
  margin-left: 60px;
  margin-top: 30px;
  float: left;
  margin-bottom: 30px;
}

.footer_img img {
  margin: 10px 10px;
  display: block;
  float: left;
}

.footer_dl {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.footer_dl a:hover {
  color: red;
  text-decoration: underline;
}

.footer_dl dl {
  text-align: center;
}

.over {
  height: 69px;
  border-bottom: 1px solid #ccc;
}

.over b {
  margin: 30px 4px;
  float: left;
  color: #737373;
  font-size: 14px;
}

.over a {
  float: left;
  padding: 30px 6px;
}

.over a:hover {
  color: red;
  text-decoration: underline;
}
