.xq_box {
  width: 1138px;
  height: 650px;
  border: 1px solid #ccc;
  padding: 8px;
}

.xq_box .xq_neirong {
  float: left;
  width: 450px;
  height: 557px;
}

.xq_box .xq_neirong .daxiao {
  width: 400px;
  height: 400px;
  position: relative;
}

.xq_box .xq_neirong .daxiao img {
  width: 400px;
  height: 400px;
}

.xq_box .xq_neirong .daxiao #fifter {
  display: none;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  background: pink;
  position: absolute;
  top: 0;
}

.xq_box .xq_neirong .small {
  width: 64px;
  height: 64px;
  border: 1px solid pink;
  margin: 10px 10px;
}

.xq_box #maxImg {
  display: none;
  position: absolute;
  width: 400px;
  height: 400px;
  overflow: hidden;
  left: 440px;
}

.xq_box #maxImg img {
  width: 800px;
  height: 800px;
  position: absolute;
}

.xq_box .xq_right {
  float: left;
  width: 560px;
  height: 100%;
  margin-left: 50px;
}

.xq_box .top {
  width: 560px;
  height: 45px;
  border-bottom: 1px solid #ccc;
}

.xq_box .top span {
  font-size: 16px;
}

.xq_box .top p {
  font-size: 16px;
  color: #ff6a00;
  margin-top: 2px;
}

.xq_list {
  margin-top: 30px;
}

.xq_list dl {
  color: #737373;
  padding-top: 15px;
}

.xq_list dl dt {
  float: left;
  margin-right: 50px;
}

.xq_list dl .xq_color {
  color: #ff6a00;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.xq_middle {
  height: 80px;
  width: 100%;
  margin-top: 20px;
}

.xq_middle img {
  width: 102px;
  height: 40px;
  float: left;
  margin: 10px;
  border: 1px solid red;
  display: block;
}

.xq_price {
  cursor: pointer;
  font-size: 16px;
}

.xq_price span {
  text-decoration: line-through;
}

.xq_price p i {
  color: red;
}

.xq_nav {
  float: left;
  line-height: 42px;
  margin-top: 20px;
  width: 100%;
  height: 44px;
  background: #f7f7f7;
  padding-left: 20px;
}

.xq_nav ul li {
  float: left;
}

.xq_nav ul i {
  float: left;
  color: #737373;
}

.xq_nav ul img {
  float: left;
  margin-top: 10px;
}

.xq_nav ul span {
  color: red;
  margin-left: 20px;
}

.xq_app {
  cursor: pointer;
  margin-left: 40px;
}

.xq_app:hover {
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.xq_app:hover i {
  color: red;
}

.xq_app img {
  float: left;
  padding-top: 4px;
  padding-right: 6px;
}

.xq_goumai {
  margin-top: 10px;
  font-size: 18px;
  float: left;
  color: #fff;
  background: #ff6a00;
  padding: 12px 40px;
}
