#book-detail .buy{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    padding: 0 20px;
    height: 32px;
    background: mediumvioletred;
    border-radius: 10px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}